
  <footer class="footer">
  <div class="container">
		    
  <ul class="menu nav"><li class="first leaf"><a href="/" title="">About Us</a></li>
<li class="leaf"><a href="/" title="">Github</a></li>
<li class="last leaf"><a href="/" title="">Contact Us</a></li>
</ul>

    <div class="container">
      <div class="row">
        <div class="span8 offset2">
          <hr>
		  <div class = "text-center"><h6>Icon made by Freepik from www.flaticon.com </h6>
		  <div class = "text-center"><p>Copyright &copy; 2018 MCommute.xyz</p>
		  </div>
        </div>
      </div> <!-- row -->
    </div> <!-- containter -->
  </footer> <!-- footer -->