{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
{{ super() }}
   <div class="container-fluid">
        <div class="container-fluid" style="background-image: url('/static/img/MINIMOD1sm.jpg')">
	<p> &nbsp;</p>

			<div class="col-lg-10  text-right">

			<h1 style = "font-size:240%; color: #FFF; text-shadow: 0 2px 2px rgba(0,0,0,0.7)">Minute Commute: &nbsp;&nbsp;Find the right place, Fast to your office</h1>
			<h3 style = "font-size:160%; color:#FFD; text-shadow: 0 2px 2px rgba(0,0,0,0.7)">Don't waste time commuting</h3>

			
		<p> &nbsp;</p>
        <p> &nbsp;</p>
		<p> &nbsp;</p>

	

        <div class=" container text-center">
            <div class="search-box">
                <form class="form-inline" action="/map" method="get" accept-charset="UTF-8">
                    <div class="form-group form-group-lg has-feedback has-feedback-left col s6">
                       <input name="address" id="address" type="text" class="form-control"  style="font-size: 14px;" placeholder="Enter Your Working Address" value="" size="20" maxlength="128" class="validate"/> 
                       <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
<!--                        <input type="hidden" name="within" value="40.23" >
 -->                    </div>
                    <button class="btn btn-lg btn-primary" value="search" type="submit"> <span class="glyphicon glyphicon-search" ></span>Search </button>
                </form>
           </div>
              </div>
        <p> &nbsp;</p>
		<p> &nbsp;</p>
        <p> &nbsp;</p>
	</div>
	</div>	
	

	</div>

   
{%- endblock %}

