{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
   <div>
        <div class="container-fluid text-center" style="background-image: url('/static/img/home.jpg')">
	<p> &nbsp;</p>
	<p> &nbsp;</p>

			
			<h1>Minute Commute: Find the right place, less time to your office</h1>
			<h3>Don't waste time commuting</h3>


		<p> &nbsp;</p>
	<p> &nbsp;</p>
	</div>	
	<div <div class="col-md-4 col-md-offset-4 text-left">
		<p> &nbsp;</p>
			<h4>Your working address:</h4>

       {{wtf.quick_form(form, novalidate=True)}}

   </div>
    <div>

	</div>
	    </div>
   
{%- endblock %}

